<section>
  <div class="page-header">
    <h1>Orders</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="order in vm.orders"
       ui-sref="orders.view({ orderId: order._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="order.created | date:'mediumDate'"></span>
        by
        <span ng-if="order.user" ng-bind="order.user.displayName"></span>
        <span ng-if="!order.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="order.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.orders.$resolved && !vm.orders.length">
    No Orders yet, why don't you <a ui-sref="orders.create">create one</a>?
  </div>
</section>
