<section>
  <div class="page-header">
    <h1>Carts</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="cart in vm.carts"
       ui-sref="carts.view({ cartId: cart._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="cart.created | date:'mediumDate'"></span>
        by
        <span ng-if="cart.user" ng-bind="cart.user.displayName"></span>
        <span ng-if="!cart.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="cart.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.carts.$resolved && !vm.carts.length">
    No Carts yet, why don't you <a ui-sref="carts.create">create one</a>?
  </div>
</section>
